build/
.venv/
__pycache__/
*.pyc
build/*
*.so
pyoffice_demo
pylibreoffice/pyoffice_demo
soffice.py
output/
output/*
pylibreoffice.egg-info/
pylibreoffice.egg-info/*
dist/
dist/*
wheelhouse/
wheelhouse/*
*.whl
*.tar.gz
thirdparty/
thirdparty/*
third_party
third_party/
_skbuild/
_skbuild
pyoffice.egg-info