build/
.venv/
__pycache__/
*.pyc
build/*
*.so
pyoffice_demo
pyoffice/pyoffice_demo
soffice.py
output/
output/*
pyoffice.egg-info/
pyoffice.egg-info/*
dist/
dist/*
wheelhouse/
wheelhouse/*
*.whl
*.tar.gz
thirdparty/
thirdparty/*
third_party
third_party/